<h2>about.</h2>
<div class="about-content">
    <img id="profile" class="img-thumbnail" src="../../../../wwwroot/Profile.jpg" />
    <p>I'm Peter McNeely and this is my website.</p>
    <p>I like learning, cooking, woodworking, and staying active.</p>
    <p>I'm a {{job.title}} at <a target="_blank" href="{{job.site}}">{{job.name}}</a>.</p>
    <p>Currently, my favorite programming language is {{favorite.language}}, I'm really loving {{favorite.framework}}, and I think working with {{favorite.tool}} is pretty cool.</p>
    <p>When I'm not at a computer, you can probably catch me running in {{favorite.placeToRun}}.</p>
</div>
<div class="footer text-center">
    <a target="_blank" href="https://www.linkedin.com/in/pete-mcneely"><span class="fa fa-linkedin-square fa-3x"></span></a>
</div>