<div id="resume" class="container">
    <h2>resume.</h2>

    <div class="container">
        <br>
        <div class="jumbotron">
            <div class="text-center">
                <h3>Peter McNeely</h3>
                <a href="mailto:pete.mcneely@gmail.com">pete.mcneely@gmail.com</a>
                <a href="tel:973-568-7587">(973) 568-7587</a>
            </div>


            <h4>Development Items</h4>
            <div class="tab">
                <strong>Languages:</strong> C#, C++, C++/CLI, SQL, Ruby, HTML5, CSS3, Javascript, Python
            </div>
            <div class="tab">
                <strong>Frameworks:</strong> .NET Framework, .NET Core, MFC, Windows Forms, Bootstrap (3.x), AngularJS, Angular, Entity 6.X, Entity Core
            </div>
            <div class="tab">
                <strong>Templates:</strong> Web API, ASP.NET MVC 5
            </div>
            <div class="tab">
                <strong>Notable APIs:</strong> Bloomberg Desktop, Thomson Reuters Eikon, FIX 4.2
            </div>
            <div class="tab">
                <strong>Tools:</strong> Visual Studio 2008, 2012, 2015, 2017; SQL Server Management Studio 2008 R2, 2014; NodeJS, IIS; Webpack; JIRA, Bitbucket, Bamboo; Github; git, cvs
            </div>

            <hr>

            <h4>Experience</h4>
            <div class="tab">
                <strong>MIAC Analytics</strong> <em>SVP of Software Development</em>
                <div class="pull-right">January 2018 - Present</div>
                <ul>
                    <li>Work closely with clients and business managers to develop analytical solutions for the mortgage financial industry.</li>
                    <li>Manage team of web developers to execute development requests on a bi-weekly, agile schedule.</li>
                    <li>Work extensively on the development and maintenance of proprietary web-based applications (C#, .NET Framework, .NET Core, Web API, MVC, AngularJS, HTML5, CSS3)</li>
                    <li>Maintain the full product development life cycle of MIAC's proprietary applications (git).</li>
                    <li>Data management; work with relational databases (SQL Server, Oracle) and non-relational databases (Google BigQuery).</li>
                    <li>Document feature enhancements to be used as drafts for user manuals and marketing material.</li>
                </ul>
            </div>

            <div class="tab">
                <strong>MIAC Analytics</strong> <em>VP of Software Development</em>
                <div class="pull-right">January 2017  - January 2018</div>
                <ul>
                    <li>Work closely with clients and business managers to develop analytical solutions for the mortgage financial industry.</li>
                    <li>Work extensively on the development and maintenance of proprietary desktop applications (Visual C++, C#, Windows Forms, MFC).</li>
                    <li>Work extensively on the development and maintenance of proprietary web-based applications (C#, ASP.NET, MVC, AngularJS, HTML5, CSS3)</li>
                    <li>Develop and maintain the full product development life cycle of MIAC's proprietary applications (git, Jira, Bitbucket, Bamboo).</li>
                    <li>Data management; work with relational databases using SQL and the Entity Framework ORM.</li>
                    <li>Document feature enhancements to be used as drafts for user manuals and marketing material.</li>
                </ul>
            </div>

            <div class="tab">
                <strong>MIAC Analytics</strong> <em>Software Developer</em>
                <div class="pull-right">June 2013 - December 2016</div>
                <ul>
                    <li>Work closely with clients and business managers to develop analytical solutions for the mortgage financial industry. Primarily focus on the development and support of MIAC's proprietary pipeline hedge advisory solution, MarketShield.</li>
                    <li>Develop solutions using Visual C++ with MFC and C#.NET with Windows Forms.</li>
                    <li>Manage production data using SQL and SQL Server Management Studio.</li>
                    <li>Document feature enhancements to be used in user manuals and market materials.</li>
                </ul>
            </div>

            <div class="tab">
                <strong>Carleton College</strong> <em>Database Assistant</em>
                <div class="pull-right">January 2013 - June 2013</div>
                <ul>
                    <li>Assist Vice President and Treasurer of Carleton College on a database-driven project detailing higher education college endowments.</li>
                    <li>Organize, clean, and analyze over 40 years of data collected by the National College and University Business Offices Association (NACUBO) detailing endowments, asset allocations, spending, investment returns, and market values.</li>
                </ul>
            </div>

            <div class="tab">
                <strong>Carleton College</strong> <em>Math Tutor</em>
                <div class="pull-right">January 2011 - June 2013</div>
                <ul>
                    <li>Tutor high school students in Algebra II. Work on strengthening the students' study habits and thought processes associated with tackling math problems.</li>
                </ul>
            </div>

            <div class="tab">
                <strong>Carleton College</strong> <em>Computer Science Grader</em>
                <div class="pull-right">December 2012 - March 2013</div>
                <ul>
                    <li>Responsible for grading various assignments for Computer and Network Security while enrolled in the class.</li>
                </ul>
            </div>

            <div class="tab">
                <strong>MIAC Analytics</strong> <em>Extern</em>
                <div class="pull-right">November 2012 - December 2012</div>
                <ul>
                    <li>Took a leadership role in the management of the client relationship system; worked jointly with the MIAC team to refine current database status and reporting capabilities.</li>
                    <li>Worked closely with analysts in reconciling price descrepancies in portfolio valuations.</li>
                </ul>
            </div>

            <div class="tab">
                <strong>Newark Academy</strong> <em>Mathematics Summer School Teacher</em>
                <div class="pull-right">June 2012 - August 2012</div>
                <ul>
                    <li>Taught Geometry, Pre-Calculus, and Calculus classes to high school students.</li>
                    <li>Saw major improvements in students' test scores throughout the summer.</li>
                </ul>
            </div>

            <hr>

            <h4>Education</h4>
            <div class="tab">
                <div>
                    <strong>Carleton College</strong>
                    <span class="tab"></span>Bachelor of Arts in Mathematics (Magna Cum Laude) Overall GPA 3.52/4.00<span class="tab"></span>
                    <div class="pull-right">2009 - 2013</div>
                </div>

                <br>

                <div>
                    <strong>Selected Coursework:</strong> Data Structures, Computer Organization and Architecture, Algorithms, Software Design, Calculus 1, 2, 3, Linear Algebra, Set Theory, Abstract Algebra, Probability, Real Analysis, Ordinary Differential Equations, Combinatorial Theory, Microeconomics, Macroeconomics, Computer and Network Security, Independent study in Graph Theory, Comprehensive Study on Species Theory
                </div>

                <br>

                <div>
                    <strong>Web Development Bootcamp:</strong> Alumnus of <a target="_blank" href="http://www.bloc.io">bloc.io</a> fullstack bootcamp.
                    <div class="pull-right">January 2016 - July 2017</div>
                </div>
            </div>

            <hr>

            <h4>Additional Info</h4>
            <div class="tab">
                <strong>Sports:</strong> Varsity Football at Carleton College (Four years; Captain senior year), Club Rugby at Carleton College, Enjoy recreational running and working out
            </div>
            <div class="tab">
                <strong>Hobbies:</strong> Problem solving, hiking, woodworking, cooking, playing music
            </div>
        </div>
    </div>
</div>
